*/venv/
*/*.png
*/*.dot
*/.venv/
*/__pycache__/
/report/_minted-report
/report/*.aux
/report/*.log
/report/*.bbl
/report/*.blg
/report/*.out
/report/*.gz
/report/*.toc
/report/.vscode
/report/chapters/*.aux
/report/chapters/*.log
/report/chapters/*.bbl
/report/chapters/*.blg
/report/chapters/*.out
/report/chapters/*.gz
/report/chapters/*.toc
*.zip
/.venv-djvu/
*.docx
*.djvu
*/artifacts/
